@model Snippets.Models.TestModel

@{
    ViewBag.Title = "DetailsTestModelEntity";
}

<h2>DetailsTestModelEntity</h2>

<div>
    <h4>TestModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditTestModelEntity", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "TestModelEntityGetAll2")
</p>
