@model IEnumerable<Snippets.Models.TestModel>

@{
    ViewBag.Title = "TestModelEntityGetAll2";
}

<h2>TestModelEntityGetAll2</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewTestModelEntity")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTestModelEntity", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsTestModelEntity", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteTestModelEntity", new { id=item.Id })
        </td>
    </tr>
}

</table>
